@media all and (max-width: 767px) {
  footer {

    .info {
      flex-direction: column;

      > div {
        margin: 1rem 0;

        b {
          font-size: 1.4rem;
        }

        span {
          font-size: 1.1rem;
        }
      }
    }
  }
}