$primary-color: #DD002F;
$secondary-color: #4C54E3;
$section-padding: 3rem;
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: currentColor;
}

.nav-bar {
  padding: $section-padding 0;

  ul {
    display: flex;
    color: #555;

    a {
      margin-right: 1rem;
      padding: .8rem 1rem .8rem 0;
    }

    li:last-of-type a {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.hero {
  padding: $section-padding 0;
  position: relative;
  min-height: calc(100vh - 112px - 3rem * 2);
  display: flex;
  align-items: center;

  .hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 950px;
    z-index: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
    z-index: 2;

    h1 {
      color: $primary-color;
      font-weight: 900;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-top: 1rem;
    }

    button {
      margin-top: 2.5rem;
      width: fit-content;
      width: -moz-fit-content;
      padding: 1rem 3rem;
      background: $secondary-color;
      color: #fff;
      font-size: 0.9rem;
      font-weight: 700;
      box-shadow: $shadow-2xl;
      cursor: pointer;
    }

    p {
      margin-top: 5rem;
      width: 50%;
      line-height: 1.8;
      opacity: 0.4;
      font-style: italic;
    }
  }
}

.missions {
  margin: 2.5rem 0;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8;
    font-weight: 300;

    h2 {
      color: #352C7F;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .features {
    margin-top: 2.5rem;
    margin-bottom: 5rem;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3rem;

      i {
        margin-right: 1.5rem;
        font-size: 2rem;
        color: $primary-color;
      }

      span {
        line-height: 1.5;
        max-width: 10rem;
      }
    }
  }
}

.pricing {
  position: relative;
  background: #F2F6FA;

  .image-container {
    width: 40vw;
    background: url("/images/pricing.png") #729CF6 center / contain no-repeat;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    .pricing-content {
      padding: 3rem 0 3rem 40vw;
      display: flex;
      width: 100%;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 2rem 0;
      }

      ul {
        margin: 2rem 0;
        justify-content: space-between;
        max-width: 22rem;

        li {
          font-weight: 300;
        }

        b {
          font-size: 6rem;
          margin-bottom: 1rem;
          display: flex;

          &:before {
            content: '$';
            font-size: 2rem;
            margin-top: 1rem;
            margin-right: 0.5rem;
          }
        }

        span {
          line-height: 1.5;
          max-width: 8rem;
        }
      }

      a {
        color: $primary-color;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 2rem;

        i {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.reserve {
  padding: $section-padding 0;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0;
    text-align: center;
  }

  .more-info-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .row {
      display: flex;

      span {
        flex: 1;
        line-height: 1.5;
        font-size: 1rem;
      }

      &:nth-of-type(1) {
        flex-direction: row-reverse;

        span {
          &:not(:empty) {
            margin: 15rem 3rem 1rem 14rem;
          }

          &:empty {
            background: url("https://upload.wikimedia.org/wikipedia/en/5/57/Canadian_maple_leaf_2.jpg") no-repeat 3% 8%;
            background-size: 15%;
          }
        }
      }

      &:nth-of-type(2) {
        span {
          &:not(:empty) {
            margin: 0.5rem 14rem 5rem 2rem;
          }
        }
      }

      &:nth-of-type(3) {
        flex-direction: row-reverse;

        span {
          &:not(:empty) {
            margin: 4rem 4rem 6rem 5.5rem;
          }
        }
      }
    }

    .line {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("/images/line.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
  }
}

.explore-container {
  margin: 3rem 0;

  .container {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 2rem 0 1.5rem;
    }

    main {
      display: flex;

      figure {
        flex: 2;
        background: url("/images/explore.png") no-repeat center / contain;
      }

      aside {
        flex: 3;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        background: url("/images/line2.png") no-repeat 6% top / contain;

        p {
          line-height: 2;

          &:first-of-type {
            margin-top: 2rem;
            margin-left: 40%;
          }

          &:last-of-type {
            margin-left: 27%;
            margin-right: 20%;
            margin-top: 8rem;
          }
        }
      }
    }
  }
}

.support-container {
  margin: 5rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: bold;
    }

    img {
      width: 10%;
      margin: 3rem 0;
    }
  }
}

.help-container, footer {
  background: #F9FAFC;
}

.help-container {
  padding: 2rem 0;

  .container {
    display: flex;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      background: lightgray;
      opacity: 0.3;
      height: 2px;
      bottom: 0;
    }

    main {
      flex: 2;
      padding: 3rem 0 14rem;

      h2 {
        font-size: 3rem;
      }

      h3 {
        margin-top: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
        color: $primary-color;
      }

      a {
        display: block;
        margin-top: 5rem;
        padding: .8rem 3rem;
        font-weight: bold;
        border: 2px solid $secondary-color;
        color: $secondary-color;
        width: fit-content;
        width: -moz-fit-content;
      }
    }

    figure {
      flex: 4;
      background: url("/images/other.png") no-repeat center / cover;
    }
  }
}

footer {
  padding: 2rem 0;

  .info {
    display: flex;
    padding: 1rem;
    margin-bottom: 5rem;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      b {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      span {
        line-height: 1.5;
        font-weight: 300;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 6rem;
      height: 2px;
      border-radius: 99999px;
      background: lightgray;
      top: -2rem;
    }

    a {
      margin: 0 1.2rem;
      color: darkgray;
      font-size: 1.2rem;
    }
  }
}