$primary-color: #DD002F;
$secondary-color: #4C54E3;
$section-padding: 3rem;
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: currentColor;
}

.nav-bar {
  padding: $section-padding 0;

  ul {
    display: flex;
    color: #555;

    a {
      margin-right: 1rem;
      padding: .8rem 1rem .8rem 0;
    }

    li:last-of-type a {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.hero {
  padding: $section-padding 0;
  position: relative;
  min-height: calc(100vh - 112px - 3rem * 2);
  display: flex;
  align-items: center;

  .hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 950px;
    z-index: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
    z-index: 2;

    h1 {
      color: $primary-color;
      font-weight: 900;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-top: 1rem;
    }

    button {
      margin-top: 2.5rem;
      width: fit-content;
      width: -moz-fit-content;
      padding: 1rem 3rem;
      background: $secondary-color;
      color: #fff;
      font-size: 0.9rem;
      font-weight: 700;
      box-shadow: $shadow-2xl;
      cursor: pointer;
    }

    p {
      margin-top: 5rem;
      width: 50%;
      line-height: 1.8;
      opacity: 0.4;
      font-style: italic;
    }
  }
}

.missions {
  margin: 2.5rem 0;
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8;
    font-weight: 300;

    h2 {
      color: #352C7F;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .features {
    margin-top: 2.5rem;
    margin-bottom: 5rem;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3rem;

      i {
        margin-right: 1.5rem;
        font-size: 2rem;
        color: $primary-color;
      }

      span {
        line-height: 1.5;
        max-width: 10rem;
      }
    }
  }
}

.pricing {
  position: relative;
  background: #F2F6FA;

  .image-container {
    width: 40vw;
    background: url("/images/pricing.png") #729CF6 center / contain no-repeat;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    .pricing-content {
      padding: 3rem 0 3rem 40vw;
      display: flex;
      width: 100%;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 2rem 0;
      }

      ul {
        margin: 2rem 0;
        justify-content: space-between;
        max-width: 22rem;

        li {
          font-weight: 300;
        }

        b {
          font-size: 6rem;
          margin-bottom: 1rem;
          display: flex;

          &:before {
            content: '$';
            font-size: 2rem;
            margin-top: 1rem;
            margin-right: 0.5rem;
          }
        }

        span {
          line-height: 1.5;
          max-width: 8rem;
        }
      }

      a {
        color: $primary-color;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 2rem;

        i {
          margin-left: 0.5rem;
        }
      }
    }
  }
}